#game 
{
    visibility: hidden;
    text-align: center;
}

input[type=text] 
{
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background:#6495ed;
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:hover 
  {
    background-color: #7285c5;
    outline: none;
  }

  button 
  {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 20%;
    opacity: 0.9;
  }

  button:hover 
  {
    background-color: #70e9bd;
  }

body
{
    background-color: aqua;
}

canvas
{
    max-width: 90vw;
    max-height: 70vh;
    border: 2px black solid;
    background-color:palegoldenrod
}

#form
{
    position: fixed;
    left: 20%;
}
#modal
{
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
   
  
}

.modal-content
 {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}


#heading
{
    text-align: center;
}

#joystick
{
    position: relative;
    width: 50px;
    height: 50px;
    margin-top: -60px;
    margin-left: 23.5%;
}

@media only screen and (max-width: 1400px) 
{
    #joystick
    {
        margin-left: 15%;
    }

}
